@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, SF Pro Text, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
